.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  min-height: 120px;
  background-color: $color-white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 30px 15px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__phone {
    margin: 0 25px 0 40px;
    font: 600 22px / 26px "Raleway";
    color: $color-mine;

    @include tablet {
      order: -1;
      margin: 0 40px 0 0;
    }

    @include mobile {
      display: none;
    }
  }
}

.burger {
  @include burger;

  display: none;
  color: $color-black;

  @include tablet {
    display: block;
  }
}