.major {
  &__section {
    margin-top: 120px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -50px;
      right: -25px;
      width: 100px;
      height: 100px;
      background-color: $color-silver;
      border-radius: 50%;

      @include tablet {
        top: 10px;
        right: 25px;
        width: 90px;
        height: 90px;
      }

      @include small-tablet {
        top: 0;
        right: 25px;
        width: 80px;
        height: 80px;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    max-width: 600px;
  }

  &__title-span {
    display: block;
  }

  &__title-wrap {
    font: 700 72px /85px "Raleway";
    text-transform: uppercase;

    @include tablet {
      font-size: 60px;
      line-height: 65px;
    }

    @include small-tablet {
      font-size: 48px;
      line-height: 50px;
    }
  }

  &__list {
    margin-bottom: 60px;
    list-style: disc;
  }

  &__item {
    margin-left: 30px;

    &::marker {
      font-size: 15px;
    }
  }

  &__text {
    margin: 0;
    font: 400 20px / 26px "Raleway";

    @include small-tablet {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__btn {
    margin-bottom: 50px;
  }

  &__right {
    position: relative;
    max-width: 680px;
    margin-right: 15px;

    @include tablet {
      margin-right: 0;
    }

    @include small-tablet {
      max-width: 400px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    @include small-tablet {
      max-width: 400px;
    }

    @include mobile {
      max-width: 300px;
    }
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $color-white;
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));

    @include small-tablet {
      width: 80px;
      height: 80px;
    }

    svg {
      @include small-tablet {
        width: 35px;
        height: 35px;
      }
    }

    &--left {
      top: 54%;
      left: -13%;

      @include mobile {
        left: -5%;
      }
    }

    &--top {
      top: 2px;
      left: -13px;
    }

    &--right {
      top: 17%;
      right: 3%;
    }
  }
}