<section class="courses">
    <div class="container courses__container">
        <h2 class="courses__title title">Наши курсы</h2>
        <ul class="courses__list list-reset">
            <li class="courses__item">
                <article class="courses__card course">
                    <h3 class="course__title">Математика для Дошкольников</h3>
                    <p class="course__descr">Онлайн-занятия для дошкольников. Научим писать, читать, думать и адаптируем
                        к школе
                    </p>
                    <a class="course__link btn btn--md" href="#">Подробнее</a>
                </article>
            </li>
            <li class="courses__item">
                <article class="courses__card course">
                    <h3 class="course__title">Математика для Дошкольников</h3>
                    <p class="course__descr">Онлайн-занятия для дошкольников. Научим писать, читать, думать и адаптируем
                        к школе
                    </p>
                    <a class="course__link btn btn--md" href="#">Подробнее</a>
                </article>
            </li>
            <li class="courses__item">
                <article class="courses__card course">
                    <h3 class="course__title">Математика для Дошкольников</h3>
                    <p class="course__descr">Онлайн-занятия для дошкольников. Научим писать, читать, думать и адаптируем
                        к школе
                    </p>
                    <a class="course__link btn btn--md" href="#">Подробнее</a>
                </article>
            </li>
            <li class="courses__item">
                <article class="courses__card course">
                    <h3 class="course__title">Математика для Дошкольников</h3>
                    <p class="course__descr">Онлайн-занятия для дошкольников. Научим писать, читать, думать и адаптируем
                        к школе
                    </p>
                    <a class="course__link btn btn--md" href="#">Подробнее</a>
                </article>
            </li>
            <li class="courses__item">
                <article class="courses__card course">
                    <h3 class="course__title">Математика для Дошкольников</h3>
                    <p class="course__descr">Онлайн-занятия для дошкольников. Научим писать, читать, думать и адаптируем
                        к школе
                    </p>
                    <a class="course__link btn btn--md" href="#">Подробнее</a>
                </article>
            </li>
            <li class="courses__item">
                <article class="courses__card course">
                    <h3 class="course__title">Математика для Дошкольников</h3>
                    <p class="course__descr">Онлайн-занятия для дошкольников. Научим писать, читать, думать и адаптируем
                        к школе
                    </p>
                    <a class="course__link btn btn--md" href="#">Подробнее</a>
                </article>
            </li>
        </ul>
    </div>
</section>