<section class="lesson">
    <div class="container lesson__container">
        <div class="lesson__left">
            <span class="lesson__subtitle">Математика это просто</span>
            <h2 class="lesson__title title">Индивидуальный подход к каждому ученику!</h2>
            <ul class="lesson__list list-reset">
                <li class="lesson__item">
                    <p class="lesson__text">Для каждого ученика схема занятий у нас индивидуальна: выявляем пробелы в
                        знаниях и помогаем их заполнить</p>
                </li>
                <li class="lesson__item">
                    <p class="lesson__text">Время и продолжительность занятий выбираете самостоятельно, учитывая свою
                        занятость</p>
                </li>
                <li class="lesson__item">
                    <p class="lesson__text">У нас уникальная методика обучения, которая позволит в короткие сроки
                        значительно усилить знания по любой теме в математике</p>
                </li>
                <li class="lesson__item">
                    <p class="lesson__text">Познакомьтесь с репетитором, убедитесь в его компетенции и профессионализме,
                        а
                        после - записывайтесь на обучение</p>
                </li>
            </ul>
        </div>
        <div class="lesson__right">
            <h3 class="lesson__caption">Первый урок - бесплатно!</h3>
            <p class="lesson__descr">Запишитесь на первый бесплатный урок по математике и посмотрите наш процесс
                подготовки.</p>
            <form class="lesson__form form">
                <label for="name">Как вас зовут?</label>
                <input type="text" class="form__input input-name" name="name" id="name" required="required">
                <label for="phone">Телефон</label>
                <input type="tel" class="form__input input-phone" name="tel" id="phone" required="required"
                    placeholder="+7(___)___-__-__">
                <input class="form__btn" type="submit" value="Отправить">
            </form>
        </div>
    </div>
</section>