<header class="header">
    <div class="container header__container">
        <div class="header__left">
            <a class="logo header__logo" href="#">
                <img src="./img/logo2.png" width="255" height="61" alt="Logo SELFREE">
            </a>
        </div>
        <div class="header__right">
            <nav class="nav header__nav">
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#" class="nav__link">Список курсов</a></li>
                    <li class="nav__item"><a href="#" class="nav__link"> Стоимость обучения </a></li>
                    <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Для кого?</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
                </ul>
            </nav>
            <button class="burger btn-reset">
                <span class="visually-hidden">Burger menu button</span>
                <span class="burger__line"></span>
            </button>
            <a class="header__phone" href="tel:+89675559649">8(967)555-96-49</a>
        </div>
    </div>
</header>