// Breakpoints 
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

// Color variable

$color-mine: #212121;
$color-black: #000;
$color-white: #fff;
$color-silver: #c4c4c4;
$color-mercury: #e7e7e7;
$color-dove-gray: #646464;
$color-gallery: #eaeaea;

// Burger variable 

$burger-width: 24px;
$burger-height: 18px;
$burger-line-height: 3px;